@import url('defaultStyle.css');

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    padding: 1rem;
}


form input {
    height: 50px;
    width: 100%;

    outline: none;

    font-size: 17px;

    border-radius: 5px;
    border: 1px solid var(--border-color);

    padding: 0 20px 0 15px;

    background: #131315;

    color: var(--text-color);
}

form input:focus {
    border: 1px solid var(--primary-color-52);
}

form input[type="submit"] {
    background-color: var(--primary-color);

    color: #131315;

    cursor: pointer;
}

form a {
    color: var(--primary-color);
    text-decoration: underline;
}

.info_pass {
    display: flex;
    gap: 15px;
    align-items: center;

    color: #ffffff80;
    font-size: 0.9em;
    margin-top: 8px;
}

.info_pass .icon {
    color: var(--primary-color);
}