@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    list-style: none;

    text-decoration: none;

    font-family: 'Outfit', sans-serif;
    font-style: normal;

    user-select: none;
}

body {
    height: 100vh;
    width: 100%;

    background-color: #131315;

    color: #EAF2F7;
}

.container {
    display: flex;
    height: 100vh;

    gap: 0.2rem;
}






main {
    position: relative;
    left: 311px;

    height: max-content;
    width: 100%;
    max-width: calc(100% - 311px);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 45px 2rem;
}


main .content {
    max-width: 50vw;
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;

    gap: 18px;
}

main .content .title {
    color: #EAF2F7;

    font-size: 50px;
    font-weight: 700;

    line-height: normal;
}

main .content .desc { 
    color: #EAF2F7;

    font-size: 18px;
    font-weight: 400;

    line-height: normal;
}

main .content .desc.big {
    color: #A2A9B9;

    font-size: 25px;
}

main .content img {
    width: 100%;
    height: 215px;

    margin-top: calc(47px - 18px);
    
    object-fit: cover;

    border-radius: 13px;
}

main .content .desc:nth-child(2) {
    margin-top: calc(35px - 18px);
}

main .content .list {
    display: flex;
    flex-direction: column;

    margin-top: calc(30px - 18px);

    gap: 20px;
}

main .content .list .list-item.box {
    width: 100%;

    border-radius: 5px;
    border: 1px solid #2B2E39;

    background: #131315;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 22px;

    transition-duration: 0.15s;
}

main .content .list .list-item.box:hover {
    transform: translateY(-2px);

    box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 13px;

    transition-duration: 0.15s;
}

main .content .list .list-item.box:hover .textes .title,
main .content .list .list-item.box:hover .icon,
main .content .list .list-item.box:focus .textes .title,
main .content .list .list-item.box:focus .icon {
    color: #FFDC16;
}

main .content .list .list-item.box:focus {
    border: 1px solid #ffdc1652;
}

main .content .list .list-item .textes .info{
    color: #A2A9B9;

    font-size: 15px;
    font-weight: 300;

    line-height: normal;
}

main .content .list .list-item .textes .title {
    color: #EAF2F7;

    font-size: 15px;
    font-weight: 700;

    line-height: normal;
}

main .content .list .list-item .icon {
    color: #A2A9B9;
}



@media screen and (max-width: 830px) {
    main {
        left: 0;
        top: 80px;

        max-width: 100%;

        padding: 45px 0.5rem;
    }

    main .content {
        max-width: 95vw;
    }
}


@media screen and (max-width: 360px){
    main .content .title {
        font-size: 30px;
    }

    main .content .desc,
    main .content .desc.big {
        font-size: 15px;
    }
    
    main .content .desc:nth-child(2) {
        margin-top: 0;
    }

    main .content .list .list-item.box {
        flex-direction: column;

        gap: 20px;
    }

    main .content .list .list-item.box .icon {
        align-self: flex-end;
    }
}