@import url('defaultStyle.css');


.card:last-child {
    background-color: red;
}

h3,
h4 {
    color: var(--text-color);

    font-weight: 400;

    margin: 0px;
}

.icon {
    color: var(--text-color);
}

.card-image > .icon {
    font-size: 6em;
    opacity: 0.25;
}

.card-info > .icon {  
    font-size: 1em;
    line-height: 20px;

    height: 20px;
}


@media screen and (max-width: 830px) {
    .container {
        left: 0;
        top: 80px;

        width: 100%;
    }
}