.content .search {
    position: relative;
}

.search i {
    position: absolute;
    top: 50%;
    left: 15px;

    transform: translateY(-50%);

    color: var(--text-color);

    font-size: 20px;

    pointer-events: none;
}

.search input {
    height: 50px;
    width: 100%;

    outline: none;

    font-size: 17px;

    border-radius: 10px;
    border: 1px solid var(--border-color);

    padding: 0 20px 0 43px;

    background: var(--background-color);

    color: var(--text-color);
}

.search input:focus {
    border: 1px solid var(--primary-color-52);
}