@import url('../../../style/defaultStyle.css');

.panel {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    max-width: 1500px;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 20px;
}

.list .list-item.box {
    width: 100%;

    border-radius: 5px;
    border: 1px solid var(--border-color);

    background: var(--background-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 22px;

    transition-duration: 0.15s;
}

.list .list-item.box:hover {
    transform: translateY(-2px);

    box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 13px;

    transition-duration: 0.15s;
}

.list .list-item.box:hover .textes .title,
.list .list-item.box:hover .icon,
.list .list-item.box:focus .textes .title,
.list .list-item.box:focus .icon {
    color: var(--primary-color);
}

.list .list-item.box:focus {
    border: 1px solid var(--primary-color-52);
}

.list .list-item .textes .info{
    color: var(--text-color-gray);

    font-size: 15px;
    font-weight: 300;

    line-height: normal;
}

.list .list-item .textes .title {
    color: var(--text-color);

    font-size: 15px;
    font-weight: 700;

    line-height: normal;
}

.list .list-item .icon {
    color: var(--text-color-gray);
}



form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 1200px;
}


form input:not(input[type='file'], input[type="radio"]),
form select {
    height: 50px;
    width: 100%;

    outline: none;

    font-size: 17px;

    border-radius: 5px;
    border: 1px solid var(--border-color);

    padding: 0 20px 0 15px;

    background: var(--background-color);

    color: var(--text-color);
}

form input[type="file"] {
    cursor: pointer;
    width: max-content;
}

form input:not(input[type='file']):focus {
    border: 1px solid var(--primary-color-52);
}

form input.submit_btn[type='submit'] {
    height: 50px;
    width: 100%;

    outline: none;

    font-size: 17px;

    border-radius: 5px;
    border: none;

    cursor: pointer;

    padding: 0 20px 0 15px;

    background: var(--primary-color);

    color: var(--text-color-login);
}

form .inputs {
    width: max-content;

    display: flex;
    justify-content: center;

    gap: 10px;
}

form .inputs input {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

form img{
    width: 350px;
}