@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    list-style: none;

    text-decoration: none;

    font-family: 'Outfit', sans-serif;
    font-style: normal;

    user-select: none;
}

body {
    position: relative;

    height: 100vh;
    width: 100%;

    background-color: var(--background-color);

    color: var(--text-color);
}

.container {
    position: absolute;
    left: 311px;

    width: calc(100% - 311px);
    height: 100%;

    display: flex;
    justify-content: center;

    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 1rem;
}






.card:last-child {
    background-color: red;
}

h3,
h4 {
    color: var(--text-color);

    font-weight: 400;

    margin: 0px;
}

.icon {
    color: var(--text-color);
}

.card-image > .icon {
    font-size: 6em;
    opacity: 0.25;
}

.card-info > .icon {  
    font-size: 1em;
    line-height: 20px;

    height: 20px;
}


@media screen and (max-width: 830px) {
    .container {
        left: 0;
        top: 80px;

        width: 100%;
    }
}